{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "jsx-a11y/img-has-alt": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/no-static-element-interactions": 1
  }
}
